Source: lab-work-1
Section: unknown
Priority: optional
Maintainer: Filatov Ivan <f2000_99@mail.ru>
Build-Depends: debhelper:all (>= 9.0.0)
Standards-Version: 4.5.1

Package: lab-work-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Set of utilities for analyzing network interfase
